/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Merriweather:wght@300;400;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a, span {
  display: inline-block;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.btn {
  padding: 18px 50px;
  color: white;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  background-color: #005FA3;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn:hover {
  opacity: .7;
  outline: none;
  border: none;
  background-color: transparent;
  border: 2px solid white;
}

.col-4 {
  width: 33.333333333%;
}

.col-8 {
  width: 66.666666666666%;
}

.col-6 {
  width: 50%;
}

.header__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text {
  font-family: Merriweather;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 30px;
  color: #005FA3;
}

.header__header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 0;
}

.header__span {
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 15px;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__bottom {
  margin-bottom: 30px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: left;
  color: black;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  color: #005FA3;
}

.nav__item {
  margin-left: 61px;
}

.nav__item:first-child {
  margin-left: 0;
}

.hero {
  position: relative;
}

.hero__title {
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  max-width: 64%;
  margin-bottom: 80px;
}

.hero__button {
  margin-bottom: 243px;
}

.hero__inner {
  position: absolute;
  z-index: 50;
  top: 170px;
}

.hero__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 20%;
  right: 19%;
}

.arrow__prev, .arrow__next {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  opacity: 0.2;
  fill: black;
}

.arrow__prev:hover, .arrow__next:hover {
  opacity: 0.4;
}

.hero .slick-slider {
  width: 100%;
}

.hero .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 20%;
  left: 20%;
}

.hero .slick-dots li {
  margin-right: 40px;
}

.hero .slick-dots button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0;
  background-color: #ffff;
  opacity: 0.4;
}

.hero .slick-dots .slick-active button {
  opacity: 1;
}
/*# sourceMappingURL=index.css.map */