.container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.row{
    display: flex;
}
a, span{
    display: inline-block;
    text-decoration: none;
}

ul li{
    list-style-type:none;
}
.btn{
    padding: 18px 19px;
    color: white;
    background-color: $clr-blue;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0em;
    text-align: center;

}