.col-4{
    width: 33.333333333%;
}
.col-6{
    width: 50%;
}
.col-8{
    width: 66.666666666666%;
}
.col-12{
    width: 100%;
}


/*MEDIA
==============================================*/
@media screen and (max-width:1024px){
    .col-4, .col-6, .col-5, .col-8{
        width: 100%;
    }
}