/* COLOR OF PAGE
=========================================*/
$blue:#005FA3;
$gray:#BDBDBD;

/*FONT
=========================================*/
$font-lato:"Lato", sans-serif;
$font-weather:"Merriweather"