.about{
    &__row{
        padding:140px 0;
        margin: 0 -15px;
    }
    &__title{
        padding-bottom: 60px;
    }
    &__title--blue{
        color:$blue;
    }
    &__suptitle{
        padding-bottom: 40px;
    }
    &__description{
        @include font($font-lato, 300, 18px, 1.5);
        font-style: normal;
        width: 445px;
    }
    &__right{
        padding-top: 24px;
    }
    &__block{
        min-width: 255px;
        min-height: 255px;
        background-color:$light-gray; 
        margin: 15px;      
    }
    &__number{
        @include font($font-lato, 900, 55px, 1.5);
        font-style: normal;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    &__name{
        @include font($font-lato, 600, 14px, 1.5);
        font-style: normal;
        padding-bottom: 30px;
        width: 70%;
    }
    &__link{
        text-decoration: underline;
        color: $blue;
        @include font($font-lato, 300, 14px, 1);
        font-style: normal;
    }
}
.block__inner{
    display: flex;
    flex-direction: column;
    padding: 30px 0 40px 30px;
    transition: 0.3s;
    &:hover{
        background-color: $blue;
        color: white;
    }
    &:hover a{
        color: white;
    }
}
