.feedback{
    background-image: url('/images/jpg/feedback__img.jpg');
    background-position: center;
    background-size: cover;
    &__row{
        padding-top: 122px;
    }    
    &__left{
        padding-right: 100px;
    }
    &__title{
        padding:0 0 62px;
        color: white;
    }
    &__description{
        @include font($font-lato, 300, 18px, 1.5);
        color: white;
        padding-bottom: 80px;
    }
    &__contact{
        display: flex;
        justify-content: space-between;
        @include font($font-lato, 300,21px, 1.5);
        color: white;
        .phone, .email{
            display: flex;
            align-items: center;
        }
        .phone svg, .email svg{
            margin-right: 16px;
        }
    }   
    &__flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0  30px 0 0;
    }
    .padding{
        padding: 0;
    }
   &__form{ 
        label{
            @include font($font-lato, 400, 16px, 1.5);
            color: white;
        }
        input{
            padding: 15px 0;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            border-bottom:1px solid #fff;
            resize: vertical;
            background-color: transparent;
            outline: none;
            color: white;
            margin-bottom: 30px;
            ::placeholder{
                @include font($font-lato, 300, 28px, 1.5);
                color: $gray;
                }
            }
        
        textarea{
            padding: 15px 0 0;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            border-bottom:1px solid #fff;
            margin-bottom: 50px;
            resize: vertical;
            background-color: transparent;
            outline: none;
            width: 100%;
            min-height: 130px;
            color: white;
        }
       
    }
    &__button{
        margin-bottom: 140px;
        float: right;
    }
}
