.header{
    &__row{
        display: flex;
    }
    &__left{
        display: flex;
        align-items: center;
    }
    &__text{
        font-family: Merriweather;
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
        margin-left:30px;
    }  
}
