.header{
    &__row{
        align-items: center;
    }
    &__block--left, &__block--right, &__top{
        display: flex;
    }
    &__block--left{
        align-items: center;
    }
    &__text-logo{
        @include font($font-weather, 900, 36px, $lheight);
        font-style: normal;
        letter-spacing: 0em;
        padding-left:30px;
    }  
    &__block--right{
        flex-direction: column;
    }
    &__top{
        justify-content: space-between;
        padding: 22px 0;
    }
    &__span{
        @include font($font-lato, 400, 13px, $lheight);
        font-style: normal;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 15px;
    }
    &__phone, &__clock, &__placeholder, &__email{
        display: flex;
    }
    &__bottom{
        margin-bottom: 30px;
    }   
}
.nav{
    &__menu{
        display: flex;
        justify-content: space-between;
    }
    &__link{
        @include font($font-lato, 700, 14px, $lheight:1);
        font-style: normal;
        letter-spacing: 0.1em;
        text-align: left;
        color: black;
        text-transform: uppercase;
        transition: .3s;
        &:hover{
            color: $blue;
        }
    }
    &__item{
        margin-left: 61px;
        &:first-child{
            margin-left: 0;
        }
    }
}