.header{
    &__row{
        align-items: center;
    }
    &__left{
        display: flex;
        align-items: center;
    }
    &__text{
        @include font($font-weather, 900);
        font-size: 36px;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        margin-left:30px;
    }  
    &__header__right{
        display: flex;
        flex-direction: column;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        padding: 22px 0;
    }
    &__span{
        @include font($font-lato, 400);
        font-size: 13px;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 15px;
    }
    &__phone, &{
        display: flex;
    }
    &__clock{
        display: flex;
    }
    &__email{
        display: flex;
    }
    &__placeholder{
        display: flex;
    }
    &__bottom{
        margin-bottom: 30px;
    }

   
}
.nav{
    &__menu{
        display: flex;
        justify-content: space-between;
    }
    &__link{
        @include font($font-lato, 700);
        font-size: 14px;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0.1em;
        text-align: left;
        color: black;
        text-transform: uppercase;
        transition: .3s;
        &:hover{
            color: $blue;
        }
    }
    &__item{
        margin-left: 61px;
        &:first-child{
            margin-left: 0;
        }
    }
}