.hero{ 
    &__title{
        font-family: Merriweather;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        color: white;
        width: 38%;
        margin-bottom: 80px;
    }
    &__button{
      margin-bottom: 243px;
    }
    &__inner{
        position: absolute;
        z-index: 50;
        width: 100%;
        top: 170px;
    }
}

.slick-slide {
    border: none !important;
    outline: none !important;
  }
  
  .slick-arrow {
    display: none !important;
  }
  .hero .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
  }
  
  .hero .slick-dots button {
    width: 40px;
    height: 7px;
    top:-100px;
    font-size: 0;
    background-color: #cecece;
    border: none;
    outline: none;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .hero .slick-dots .slick-active button {
    background-color: #d7b399;
  }
  .hero .slick-list{
    min-height: 400px;
  }