.services{
    background-color: $light-gray;
  
    &__title{
        padding-top: 40px;
    }
    &__suptitle{
        padding-top: 140px;
    }
    &__item{
        position: relative;
        min-width: 350px;
        min-height: 360px;
        transition: 0.4s;
        margin: 15px;
    }
    &__row{
        padding-bottom: 140px;
        margin: 0 -15px;
    }
    &__img{
        width: 100%;
        height: 360px;
    }
 
    &__hover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:$blue;
        opacity: 0;
        z-index: 1;
        transition: .3s;
        &:hover{
            opacity: .5
        }
    }
    &__description{
        position: absolute;
        bottom: 10%;
        left: 10%;
        @include font($font-lato, 900, 24px, $lheight);
        color: white;
        width: 50%;
        z-index: 2;
    }
}
