.services{
    background-color: $light-gray;
    &__row{
        padding-bottom: 140px;
        margin:0 -15px;
    }
    &__title{
        padding-top: 40px;
      
    }
    &__suptitle{
        padding-top: 140px;
    }
    &__row{
        padding-top: 100px;
    }
    &__item{
        position: relative;
        max-width: 350px;
        max-height: 360px;
        transition: 0.4s;
        margin:15px;
    }
    &__img{
        width: 100%;
    }
    &__hover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:$blue;
        opacity: 0;
        z-index: 1;
        transition: .3s;
        &:hover{
            opacity: .5
        }
    }
    &__description{
        position: absolute;
        bottom: 10%;
        left: 10%;
        @include font($font-lato, 900, 24px, 1.5);
        color: white;
        width: 50%;
        z-index: 2;

    }
}


/*MEDIA
======================================*/
@media screen and (max-width:1024px){
    .services{
        &__suptitle{
            padding-top: 50px;
        }
        &__title{
            padding-top: 25px;

        }
        &__description{
            font-size: 16px;

        }
        &__row{
            padding-top: 25px;
            margin: 0;
        }
        &__img{
            max-width: 300px;
        }
        
    }
}